
/* Paginas web HTML y hoja de estilo CSS   */
/* Noel Valdivia Vera              */
/* Contra Comic Sans         */
/* 15 de enero de 2020                    */
/*                                          */

body {
    background-color: #c6d9ee;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    font-size: 3rem;
    text-align: right;
}

h2 {
    font-family: monospace;
    font-size: 3rem;
        font-variant: small-caps;
}

p {
    line-height: 200%;
    text-indent: 3em;
}

strong {
    color: brown;
}

em {
    background-color: white;
    color: darkgreen;
}

span {
    color: red;
    font-family: "Comic Sans", cursive;
}

time {
    color: chocolate;
}

address {
    font-size: 1rem;
    text-align: center;
}